<% include partials/header %>


    <section id="aboutMeSection">
        <div class="container-fluid">
            <div class="row d-flex justify-content-around my-5">
                <div class="container-fluid">
                    <div class="row">
                        <div id="imageBackgroundAboutMe" class="col-12">
                            <h1 class="card-title text-center py-5 my-5"> </h1>
                        </div>
                    </div>
                </div>
                <div id="aboutMeLeft" class="col-lg-4 mt-3 boxShadow card">
                    <div class="card-body ">

                        <h1 class="card-title text-center"> Paul Lupu Dentist</h1>

                        <img id="photoDemoText" class="float-right" src="/assets/picround.png" alt="profile photo" width="150px">

                        <p class="mt-5 firstLetterBig">Donec mattis, dolor eget tincidunt fringilla, ipsum dui consectetur enim, in auctor velit nibh nec sem. Vivamus nec arcu sed neque mattis varius quis quis metus. Cras et pharetra metus. Fusce ut maximus lacus. Fusce id nisl vel
                            nisi aliquam eleifend eu a felis. Nunc non nulla in sapien lacinia auctor eget nec odio. Nullam consectetur fermentum leo, nec bibendum risus convallis aliquam. Proin in orci non ex ullamcorper dapibus quis vel odio.</p>
                        <p class="card-footer float-right">Donec mattis, dolor eget tincidunt fringilla</p>
                        <br><br><br>

                    </div>
                </div>
                <div id="aboutMeRight" class="col-lg-7 mt-5 pt-5 boxShadow card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere lectus eget dolor fringilla, finibus posuere enim consequat. Pellentesque a tempor velit, a iaculis ligula. Maecenas sollicitudin ligula sodales diam tempor,
                        ac porttitor dolor condimentum. Donec ut nibh volutpat, rhoncus elit sit amet, tristique urna. Donec dictum finibus risus pretium vehicula. Nulla facilisi. Cras auctor sit amet velit ac vehicula.</p>
                    <p>Donec mattis, dolor eget tincidunt fringilla, ipsum dui consectetur enim, in auctor velit nibh nec sem. Vivamus nec arcu sed neque mattis varius quis quis metus. Cras et pharetra metus. Fusce ut maximus lacus. Fusce id nisl vel nisi
                        aliquam eleifend eu a felis. Nunc non nulla in sapien lacinia auctor eget nec odio. Nullam consectetur fermentum leo, nec bibendum risus convallis aliquam. Proin in orci non ex ullamcorper dapibus quis vel odio.</p>
                    <p>Curabitur mauris justo, posuere in nunc a, dictum semper dui. Curabitur quis posuere eros, ac blandit diam. Maecenas vitae nisl commodo, vestibulum nisl eu, pharetra augue. Duis non molestie tortor, quis luctus sapien. In ut aliquet
                        libero, sed rutrum enim. Quisque interdum eget eros nec facilisis. In fringilla faucibus enim vitae ultricies. Sed ut metus tellus.</p>
                    <p>Cras sed justo eget arcu tempus gravida eu in velit. Curabitur posuere leo at purus egestas fringilla. Curabitur quis viverra metus. Sed vel justo risus. Aenean mollis dolor auctor lobortis rhoncus. Donec quis semper urna. Morbi ultricies,
                        eros non facilisis laoreet, diam elit fringilla risus, tincidunt congue sapien elit non lacus. Ut aliquam a nunc et laoreet. Maecenas consequat iaculis enim a blandit. Cras condimentum augue sit amet justo finibus, eget viverra
                        odio consequat. Donec vestibulum felis a urna mattis hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus sit amet quam sem. Phasellus et congue sem, a lacinia augue.</p>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <div class="col-lg-8 mt-5">
                    <div>
                        <div class="d-flex justify-content-center">
                            <a href="https://www.facebook.com/lupu.paul1" target="_blank "><i class="fab fa-facebook-square icons"></i></a>
                            <a href="https://www.instagram.com/lupu.paul.rct/?hl=en" target="_blank"><i class="fab fa-instagram icons"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer %>