<% include partials/header %>

<section id="endodonticsArticles">
        <div class="container-fluid ">
            <h1 class="text-center "><i class="fas fa-graduation-cap"></i> Articles and helpful information</h1>
            <div class="row justify-content-around">

                <div id="articlesAboutEndo" class="col-md-3 d-flex flex-column justify-content-center">


                    <a href="https://en.wikipedia.org/wiki/Endodontics" target="iframe_Endodontics">Endodontics - Wikipedia</a>
                    <a href="https://www.mouthhealthy.org/en/az-topics/e/endodontics" target="iframe_Endodontics">Mouth Healthy - American Dental Asociation</a>
                    <a href="https://www.aae.org/patients/why-see-an-endodontist/whats-difference-dentist-endodontist/" target="iframe_Endodontics">www.aae.org - What’s the difference between a dentist and an endodontist?</a>
                    <a href="https://www.webmd.com/oral-health/qa/what-is-endodontics" target="iframe_Endodontics">WebMD - What is endodontics?</a>
                    <a href="http://eurendodj.com/" target="iframe_Endodontics">European Endodontic Journal</a>
                </div>
                <div class="col-md-6 ">
                    <iframe id="iframeEndo" src="" name="iframe_Endodontics" frameborder="0" width="100%" height="800px"></iframe>
                </div>
            </div>
        </div>

    </section>



<% include partials/footer %>