<% include partials/header %>

    <section id="mainHeader ">
        <div class="container-fluid px-0">
            <div class="col-12  px-0">
                <div id="mainJumbotron" class="jumbotron text-center ">
                    <h1 class="display-2 d-inline-block">
                        Lupu Paul MD
                    </h1>
                    <br>
                    <p class="mt-5 d-inline-block">
                        Dentist cu specializare in Endodontie
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="langingPageStories">
        <div class="container">
            <div class="row d-flex justify-content-between mb-5">
                <div id="homepage1" class="card col-lg-4 mb-4 boxShadow ">
                    <h2 class="card-title mt-3 text-center">Colaborari
                        <hr>
                    </h2>
                    <h1 class='text-center display-4'><i class="far fa-handshake"></i></h1>
                    <div class="">
                        <ul>
                            <li>Dr. Novac - Bacau <a href='https://www.facebook.com/MicroscopDentar/' target='_blank'>Mentor si Inspiratie</a> </li>
                            <li>Colaborare cu <a href='https://www.smileart.ro/' target='_blank'>www.SmileArt.ro</a> din Onesti</li>
                            <li>Gigi Becali din Suceava - <a href='https://www.google.ro/search?source=hp&ei=cM5WXfLuEY-oa9HpvfAE&q=gigi+becali&oq=gigi+becali&gs_l=psy-ab.3..0l10.1095.2205..2414...0.0..1.292.1390.7j4j1......0....1..gws-wiz.......35i39j0i67.uvRIrC97gyE&ved=0ahUKEwjy5oP83IfkAhUP1BoKHdF0D04Q4dUDCAU&uact=5'
                                    target='_blank'>contact</a></li>
                        </ul>
                        <h3 class='text-center'>Interesat de o colaborare? <a href='/contact'>Astept mesajul tau </a></h3>

                    </div>
                </div>
                <div id="homepage2" class="card col-lg-6 mb-4 boxShadow">
                    <div class="text-center card-body">
                        <div class="text-center card-body">
                            <h2 class="card-title ">
                                Ce este endodontia ?
                                <hr>
                            </h2>
                            <h1 class='text-center display-4'><i class="fas fa-graduation-cap"></i></i>
                            </h1>
                            <div class="card-text">
                                <p>
                                    Termenul de “endodontie” provine din limba greaca si inseamna “interiorul dintelui”. In ultimii 50 de ani, endodontia s-a identificat ca specialitate a medicinei dentare, tratamentul endodontic constand in prevenirea, diagnosticarea si tratamentul afectiunilor
                                    datorate pulpei dintelui (“nervul”), in fapt tesutul moale din interiorul dintelui.
                                </p>
                            </div>
                            <p>
                                <a class="btn btn-success btn-lg" href="/endo">Invata mai mult</a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <% include partials/footer %>